* {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}

body {
    background-color: bisque;
}

#grid-area {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 0 auto;
}


.cell {
    border: 1px solid gray;
  }

.slider-container {
    width: 40vw;
    margin: 10px auto;
}

#slider{
    appearance: none;
    height: 25px;
    width: 100%;
    background: rgba(58, 71, 54, 0.726);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider-value {
    margin: 0 auto;
    text-align: center;
}